@import url('https://fonts.googleapis.com/css?family=Kalam');

* {
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

body {
    background: #6fd1f2 url("../img/paw-white.png") repeat right top;
    color: #004960;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin: 0px;
}

.float-left {
    float: left;
}

#main-area {
    text-align: center;
    width: 83%;
}
#display-area {
    padding-right: 15px;

}

#admin {
    position: relative;
}

.admin-btn {
    background: #1F7A96;
    border: 0px none transparent;
    border-radius: 10px;
    color: #fff;
    font-family: sans-serif;
    margin-left: 10px;
    padding: 2px 7px;
}
.admin-btn:hover {
    background: #004960 !important;
}

#admin-form {
    background: rgba(255,255,255, 0.7);
    clear: both;
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    position: relative;
    text-align: left;
    max-width: 100%;
}

input {
    margin: 5px 10px;
    font-family: sans-serif;
}

input[id='cat-img'] {
    width:250px;
}
input[id='cat-clicks'] {
    width:50px;
}

#names-list {
    border-left: 1px solid #004960;
    float: right;
    padding: 10px;
    width: 17%;
}

#names-list p {
    cursor: pointer;
    margin: 0px;
}

section {
    margin: 0 auto;
    width: 50%;
}

section div.polaroid {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin:10px;
    padding:10px;
    text-align: center;
}

section h2 {
    margin: 10px;
    text-align: center;

}

section img {
/*    border: 5px solid white;*/
    min-height:250px;
    max-width: 100%;

}

section p {
    margin: 10px 0 0 0;
}





